h1 {
    font-size: 2rem;
    color: #f5deb3;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 500;
    text-shadow: 0 0 5px #f5deb3, 0 0 10px #f5deb3;
}

h2 {
    font-size: 1.5rem;
    color: #d2b48c;
    margin: 10px 0;
    text-transform: capitalize;
    font-weight: 400;
    transition: transform 0.3s ease-in-out;
}

h2:hover {
    text-shadow: 0 0 8px #d2b48c, 0 0 15px #d2b48c;
}

p {
    font-size: 1.1rem;
    color: #ddd;
    margin: 15px 0;
}

strong {
    color: #f5deb3;
    font-weight: bold;
}

.main {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.container {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-container {
    max-width: 800px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 10px;
}

label {
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
}

input.form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

input.form-control:focus {
    border-color: #f5deb3;
    outline: none;
    box-shadow: 0 0 5px rgba(245, 222, 179, 0.5);
}

.form-actions {
    text-align: center;
    margin-top: 20px;
}

button.btn {
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: #f5deb3;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
}

button.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 5px;
    text-align: left;
    padding: 5px 0;
    border-top: 1px solid #d2b48c;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.error-message.ng-enter, .error-message.ng-leave {
    opacity: 0;
    transform: translateY(-5px);
}

.error-message.ng-enter-active, .error-message.ng-leave-active {
    opacity: 1;
    transform: translateY(0);
}
