<div class="app-container">
    <nav class="navbar">
      <div class="nav-center">
        <a
          routerLink="/default-route"
          routerLinkActive="active-link"
          [class.active]="currentRoute === '/default-route'"
        >
          Route 1
        </a>
        <a
          routerLink="/second-route"
          routerLinkActive="active-link"
          [class.active]="currentRoute === '/second-route'"
        >
          Route 2
        </a>
      </div>
    </nav>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer>
        <div class="d-flex">
            &copy; <strong>ROMMEL MESARES DEL ROSARIO || PrograMelz 2024</strong>
        </div>
      <div class="d-flex">
        Dark Mode || 
        <div class="theme-toggle" (click)="toggleTheme()">
            <div class="theme-indicator" [class.dark]="isDarkMode"></div>
        </div>
        </div>
    </footer>
  </div>
  